.products-all{
padding:0 50px;
  &__title{
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
  }
  &__text{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 50px;
    opacity: 0.3;
    text-align: center;
  }
  &__search{
    width: 100%;
    background:white;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    &__block{
      margin: 10px auto;

      &__title{
        font-weight: 500;
        font-size: 22px;
        color:#100E37;
      }
      &__btn{
        background:#100E37!important;
        color: white!important;
        font-weight: 500!important;
        text-transform: uppercase!important;
      }
    }
  }
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}


.ant-table-container{
  overflow: scroll;
}

.form-product-add{

  display: flex!important;
  justify-content: space-between!important;
  flex-wrap: wrap!important;
  .ant-input,{
    height: 40px!important;
  }
  .ant-select-selector{
    height: 40px!important;
    padding-top: 5px!important;
  }
}